<h1>
  Markets near
  <form action="/" class="form-inline visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-block">
    <div class="form-group">
      <input name="zip" type="integer" value="<%= current_zip %>" class="form-control input-lg">
    </div>
    <input type="submit" value="Search" class="btn btn-primary btn-lg">
  </form>
</h1>

<% if markets.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Miles</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% markets.each do |market| %>
        <tr>
          <td><%= market.miles %></td>
          <td class="full"><%= market.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Sorry, no markets were found.</p>
<% end %>
